/*Start Global Style*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.custom-body {
    background:#e9ebee;
    background-image: url(../public/unsplashlog.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family: sans-serif;
}
.custom-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    height: 100%;
}

.custom-login, .custom-register {width: 50%;}

/*Start Login Style*/
.custom-login {
    float: left;
    background-color: #fafafa;
    height: 100%;
    border-radius: 10px 0 0 10px;
    text-align: center;
    padding-top: 100px;
}
.custom-login h1 {
    margin-bottom: 40px;
    font-size: 2.5em;
}

.input-login[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: #eeeeef;
}

.input-password[type="password"]
{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: #eeeeef;
}




.input-login[type="checkbox"] {
    float: left;
    margin-right: 5px;
}
.custom-login span {
    float: left;
}
.custom-login a {
    float: right;
    text-decoration: none;
    color: #000;
    transition: 0.3s all ease-in-out;
}
.custom-login a:hover {
    color: #2d394b;
    font-weight: bold;
}
.custom-login button {
    width: 100%;
    margin: 30px 0;
    padding: 10px;
    border: none;
    background-color: #2d394b;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.custom-login button:hover {
    width: 97%;
    font-size: 22px;
    border-radius: 5px;
}
.custom-login hr {
    width: 30%;
    display: inline-block;
}

.custom-login p {
    display: block;
    justify-content: center;
    margin: 0px px ;
  
}
.custom-login ul {
    list-style: none;
    margin-bottom: 40px;  
}
.custom-login ul li {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}
.custom-login ul li:hover {opacity: 0.6;}
.custom-login ul li:last-child {margin-right: 0;}
.custom-login .copyright {
    display: inline-block;
    float: none;
}
/*Start Register Style*/
.custom-register {
    float: right;
    background-image: linear-gradient(135deg, #23212f 5%, #2d394b 95%);
    height: 100%;
    color: #fff;
    border-radius: 0 10px 10px 0;
    text-align: center;
    padding: 100px 0;
}
.custom-register h2 {
    margin: 30px 0;
    font-size: 50px;
    letter-spacing: 3px;
}
.custom-register p {
    font-size: 18px;
    margin-bottom: 30px;
}
.custom-register button {
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
}
.custom-register button:hover {
    color: #1d232c;
    background-color: #fff;
    cursor: pointer;
}
.custom-clearfix {
    clear: both;
}

